*.o
*.ppu
*.tmp

02. Matemática 1/Material teórico/Bibliografía/Swokowski, E. W. y Cole, J. A. - Álgebra y trigonometría con geometría analítica (Décima primera edición).pdf
07. Algoritmos y Estructuras de Datos/Material teórico/Bibliografía/Eckel, B. - Thinking in Java (Fourth Edition).pdf
07. Algoritmos y Estructuras de Datos/Material teórico/Bibliografía/Standish, T. A. - Data Structures in Java (Firsth Edition).pdf